{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
<!-- Hero section -->
<div class="container-fluid hero-section mt-2">
    <div class="row justify-content-center">
        <div class="col-12 hero-content text-center">
            <h1 class="mb-3">Gotta catch 'Em all</h1>
            <div>
                <a href="{% url 'products' %}" class="btn btn-lg py3 btn-primary shadow">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<!-- New products -->
<div class="container mt-5 bg-white rounded-4 px-4 py-4 feature-products">
    <section>
        <h2 class="text-blue bold text-center">Latest Products</h2>
        <p class="d-none d-md-block text-center"><small class="text-muted">Check out our latest offerings</small></p>
        <div class="row mt-3 d-flex justify-content-center">
            {% for product in new_products %}
            {% include 'includes/product_card.html' with prefix='newProduct'%}
            {% endfor %}
        </div>
    </section>
</div>

<!-- Popular products -->
<div class="container mt-5 bg-white rounded-4 px-4 py-4 mb-3 feature-products">
    <section>
        <h2 class="text-blue bold text-center">Popular Products</h2>
        <p class="d-none d-md-block text-center"><small class="text-muted">Check out our most highly rated
                products</small></p>
        <div class="row mt-3 d-flex justify-content-center">
            {% for product in popular_products %}
            {% include 'includes/product_card.html' with prefix='popularProduct' %}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Disable all buttons when one is used -->
    <script src="{% static 'products/js/product_card_btns.js' %}"></script>  
{% endblock %}