.profile-dropdown:hover {
    border: 0.1rem solid gray;
    border-color: gray;
}

.profile-dropdown:hover {
    border-color: var(--blue);
}

/* Add scroll bar if there are a lot of orders  */
.order-history {
    max-height: 25rem; 
    overflow-y: auto;
}
