{% extends "base.html" %}
{% load static %}

{% block extra_title %}Product{% endblock %}

{% block content %}
<div class="container-fluid text">
    <div class="row justify-content-center mt-4 ">
        <div
            class="col-11 col-md-5 col-lg-4 col-xl-4 col-xxl-4 bg-white me-md-4 mb-4 shadow rounded-3 border border-1 d-flex align-items-center">
            <div class="image-container">
                {% if product.image %}
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'images/no-image-placeholder.webp' %}"
                    alt=" {{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-11 col-md-6 col-lg-7 col-xl-6 col-xxl-5 bg-white mb-4 shadow rounded-3 border border-1">
            <div class="details_container px-2">
                <p class="mt-3 fs-4"><strong>{{ product.name }}</strong></p>
                <p class="text-blue fs-5"><strong>€{{ product.price}}</strong></p>

                <p class="mt-4">{{ product.description | safe }}</p>

                <!-- add links for category, card set and expansion -->
                {% if product.category %}
                <p class="mb-1 product_tag">
                    <a href="{% url 'products' %}?category={{product.category.name}}" class="feedback">
                        <i class="fa-solid fa-tag me-2 text-blue"></i>
                        <span class="text-gray">
                            {{ product.category.display_name }}
                        </span>
                    </a>
                </p>
                {% endif %}

                {% if product.card_set %}
                <p class="mb-1">
                    <a href=" {% url 'products' %}?card_set={{product.card_set.name}}" class="feedback">
                        <i class="fa-solid fa-layer-group me-2 text-blue"></i>
                        <span class="text-gray">
                            {{product.card_set.display_name }}
                        </span>
                    </a>
                </p>

                {% endif %}

                {% if product.expansion %}
                <p>
                    <a href=" {% url 'products' %}?expansion={{product.expansion.name}}" class="feedback">
                        <i class="fa-solid fa-dragon me-2 text-blue">
                        </i><span class="text-gray">
                            {{product.expansion.display_name}}
                        </span>
                    </a>
                </p>
                {% endif %}

                <div class="product-rating mb-3">
                    {% if product.rating %}
                    <small class="mb-3"><i class="fas fa-star me-1 fs-6 text-yellow"></i><span class="text-gray">
                            {{ product.rating }} / 5 </span></small>
                    {% else %}
                    <small>No Rating</small>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}