{% extends "base.html" %}
{% load static %}

{% block extra_title %}Products{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Products</h2>
            <hr class="w-75 mb-1 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-12">
            <div class="row mt-1 mb-2">
                <!-- Product count -->
                <div class="col-12 col-md-6 my-auto d-flex justify-content-center justify-content-md-start">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' or on_sale == 1 %}
                        <span class="fs-6"><a href="{% url 'products' %}"><strong class="text-blue feedback">Products Home</strong></a> | </span>
                        {% endif %}
                        {{ products|length }} Products
                        {% if search_term %} found for <strong> "{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <!-- Sort selector -->
                <div class="col-12 col-md-6 my-auto d-flex justify-content-center justify-content-md-end">
                    <div class="select_container w-50">
                        <select class="form-select form-select-sm rounded-2" aria-label="sort selector">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)
                            </option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)
                            </option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)
                            </option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)
                            </option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                Category (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Display products -->
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100 shadow">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'images/no-image-placeholder.webp' %}"
                                alt=" {{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body py-0">
                            <p class="mb-2"><strong>{{ product.name }}</strong></p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-3 fs-3 text-center text-blue"><strong>€{{ product.price }}</strong></p>

                                    <!-- add links for category, card set and expansion -->
                                    {% if product.category %}
                                    <p class="mb-1 product_tag">
                                        <a href="{% url 'products' %}?category={{product.category.name}}"
                                            class="feedback">
                                            <i class="fa-solid fa-tag me-2 text-blue"></i>
                                            <span class="text-gray">
                                                {{ product.category.display_name }}
                                            </span>
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if product.card_set %}
                                    <p class="mb-1">
                                        <a href=" {% url 'products' %}?card_set={{product.card_set.name}}"
                                            class="feedback">
                                            <i class="fa-solid fa-layer-group me-2 text-blue"></i>
                                            <span class="text-gray">
                                                {{product.card_set.display_name }}
                                            </span>
                                        </a>
                                    </p>

                                    {% endif %}

                                    {% if product.expansion %}
                                    <p>
                                        <a href=" {% url 'products' %}?expansion={{product.expansion.name}}"
                                            class="feedback">
                                            <i class="fa-solid fa-dragon me-2 text-blue">
                                            </i><span class="text-gray">
                                                {{product.expansion.display_name}}
                                            </span>
                                        </a>
                                    </p>
                                    {% endif %}

                                    <div class="product-rating">
                                        {% if product.rating %}
                                        <small><i class="fas fa-star me-1 fs-6 text-yellow"></i><span class="text-gray">
                                                {{ product.rating }} / 5 </span></small>
                                        {% else %}
                                        <small>No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}