{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Lightbox2 CSS -->
<link rel="stylesheet" href="{% static 'lightbox2/css/lightbox.min.css' %}">
{% endblock %}

{% block lightbox %}
<!-- Lightbox2 javascript -->
<script src="{% static 'lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}

{% block extra_title %}Product{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-center mt-3">
            <h2><strong>Product Details</strong></h2>
            <hr class="w-75 mb-1 mx-auto">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-4 col-xxl-3  me-md-4 mb-4 d-flex align-items-top">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" data-lightbox="product-image">
                    <img class="card-img-top img-fluid bg-white shadow rounded-3 border border-1"
                        src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'images/no-image-placeholder.webp' %}"
                        alt=" {{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-11 col-md-11 col-lg-7 col-xl-6 col-xxl-5 bg-white mb-4 shadow rounded-3 border border-1">
            <div class="details_container px-2">
                <p class="mt-3 fs-4"><strong>{{ product.name }}</strong></p>
                <div class="row">
                    <div class="col-6">
                        <p class="text-blue fs-5"><strong>€{{ product.price}}</strong></p>
                    </div>
                    <div class="col-6 text-end">
                        {% if request.user.is_authenticated %}
                            <form class="d-inline wishlist-form" action="{% url 'wishlist_toggle' product.id %}" method="POST">
                                {% csrf_token %}
                                {% if product_in_wishlist %}
                                    <button type="submit" class="border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="Bottom" title="Remove from wishlist">
                                        <i class="fas fa-heart fs-3 text-red"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" class="border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="Bottom" title="Add to wishlist">
                                        <i class="far fa-heart fs-3"></i>
                                    </button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if reviews %}
                            <a href="#reviews">
                                <!-- Display the number of stars based on ave rating -->
                                {% with num_of_stars=product.get_avg_num_of_start_list %}
                                    {% for stars in num_of_stars  %}
                                        <i class="fa-solid fa-star text-yellow"></i>
                                    {% endfor %}
                                {% endwith %} 
                                <span class="ms-1">{{product.get_avg_rating}}/5</span>
                                <span>({{product.get_num_reviews}} reviews)</span>
                            </a>
                        {% else %}
                            <small>
                                <i class="fa-solid fa-star text-gray-light"></i>
                                <i class="fa-solid fa-star text-gray-light"></i>
                                <i class="fa-solid fa-star text-gray-light"></i>
                                <i class="fa-solid fa-star text-gray-light"></i>
                                <i class="fa-solid fa-star text-gray-light"></i>
                                No Reviews yet (0)
                            </small>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-4">{{ product.description | safe }}</p>

                <!-- add links for category, card set and expansion -->
                {% if product.category %}
                <p class="mb-1 product_tag">
                    <a href="{% url 'products' %}?category={{product.category.name}}" class="feedback">
                        <i class="fa-solid fa-tag me-2 text-blue"></i>
                        <span class="text-gray">
                            {{ product.category.display_name }}
                        </span>
                    </a>
                </p>
                {% endif %}

                {% if product.card_set %}
                <p class="mb-1">
                    <a href=" {% url 'products' %}?card_set={{product.card_set.name}}" class="feedback">
                        <i class="fa-solid fa-layer-group me-2 text-blue"></i>
                        <span class="text-gray">
                            {{product.card_set.display_name }}
                        </span>
                    </a>
                </p>

                {% endif %}

                {% if product.expansion %}
                <p>
                    <a href=" {% url 'products' %}?expansion={{product.expansion.name}}" class="feedback">
                        <i class="fa-solid fa-dragon me-2 text-blue">
                        </i><span class="text-gray">
                            {{product.expansion.display_name}}
                        </span>
                    </a>
                </p>
                {% endif %}

                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <p class="mt-3"><strong class="me-2">Quantity</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control" type="number" name="quantity" value="1" min="1"
                                        max="99">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <input type="submit" class="btn btn-custom-yellow w-75 mt-3 shadow" value="Add to basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <div class="mt-5 mb-3 text-blue feedback">
                    <a href="{% url 'products' %}">
                        <i class="fas fa-arrow-left me-1"></i>Back to products
                    </a>
                </div>
                {% if request.user.is_superuser %}
                    <div class="text-end mb-3">
                        <a class="btn btn-custom-yellow" href="{% url 'edit_product' product.id %}">Edit</a>
                        <button type="button" class="btn btn-custom-red" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>
                    </div>     
                {% endif%}
            </div>
        </div>
    </div>
    <!-- User reviews -->
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2><strong>Review this product</strong></h2>
        </div>
    </div>
    <!-- Add review -->
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 bg-white mb-4 shadow rounded-3 border text-center">
            {% if user.is_authenticated %}
                {% if not reviewed_by_user %}
                    <p class="text-center mt-1 mb-0">Select a rating</p>
                    <div class="rating mb-3">
                        <form method="POST" action="{% url 'add_review' product.id %}">
                            {% csrf_token %}
                            <!-- rating -->
                            <div class="btn-group" role="group" aria-label="Rating stars radio buttons">
                                <input type="radio" class="btn-check" id="star5" name="review_rating" value="5" autocomplete="off" required>
                                <label class="btn border-0" for="star5"><i class="fa-solid fa-star"></i></label>
                            
                                <input type="radio" class="btn-check" id="star4" name="review_rating" value="4" autocomplete="off">
                                <label class="btn border-0" for="star4"><i class="fa-solid fa-star"></i></label>
                            
                                <input type="radio" class="btn-check" id="star3" name="review_rating" value="3" autocomplete="off">
                                <label class="btn border-0" for="star3"><i class="fa-solid fa-star"></i></label>

                                <input type="radio" class="btn-check" id="star2" name="review_rating" value="2" autocomplete="off">
                                <label class="btn border-0" for="star2"><i class="fa-solid fa-star"></i></label>

                                <input type="radio" class="btn-check" id="star1" name="review_rating" value="1" autocomplete="off">
                                <label class="btn border-0" for="star1"><i class="fa-solid fa-star"></i></label>
                            </div>
                            {{ form.review_text|as_crispy_field }}
                            <button type="submit" class="btn btn-custom-yellow my-3">Submit Review</button>
                        </form>
                    </div>
                {% else %}
                    <p class="mt-3">You have already reviewed this product, Thank you!</p>
                {% endif %}
            {% else %}
                <p class="mt-3">Please <a href="{% url 'account_login' %}"><strong>login</strong></a> or <a href="{% url 'account_signup' %}"><strong>signup</strong></a> to leave a review.</p>
            {% endif %}
        </div>
    </div>
    <!-- Display reviews -->
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2><strong>Reviews</strong></h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6 bg-white mb-4 shadow rounded-3 border" id="reviews">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="row review">
                        <div class="col px-5">
                            <p class="mt-3">
                                <small><strong>{{ review.user.username }}</strong> - {{ review.created_on }}</small>
                                <strong class="ms-2">{{ review.review_rating }}/5</strong> <i class="fa-solid fa-star text-yellow"></i>
                                {% if user.is_authenticated and review.user == user %}
                                    <a href="{% url 'delete_review' review.id %}" class="btn btn-sm btn-custom-red ms-1">Delete</a>
                                {% endif %}
                            </p>
                            <p class="ms-2">{{ review.review_text }}</p>
                            <hr class="w-75">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <p class="text-center mt-3">There are no reviews for this product yet</p>
            {% endif %}
        </div>
    </div>
</div>
 {% include 'includes/confirm_delete_modal.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- bootstrap tooltip script -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>

{% endblock %}
