{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Lightbox2 CSS -->
<link rel="stylesheet" href="{% static 'lightbox2/css/lightbox.min.css' %}">
{% endblock %}

{% block lightbox %}
<!-- Lightbox2 javascript -->
<script src="{% static 'lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}

{% block extra_title %}Product{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2><strong>Product Details</strong></h2>
            <hr class="w-75 mb-1 mx-auto">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-4 col-xxl-3  me-md-4 mb-4 d-flex align-items-top">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" data-lightbox="product-image">
                    <img class="card-img-top img-fluid bg-white shadow rounded-3 border border-1"
                        src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'images/no-image-placeholder.webp' %}"
                        alt=" {{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-11 col-md-11 col-lg-7 col-xl-6 col-xxl-5 bg-white mb-4 shadow rounded-3 border border-1">
            <div class="details_container px-2">
                <p class="mt-3 fs-4"><strong>{{ product.name }}</strong></p>
                <p class="text-blue fs-5"><strong>€{{ product.price}}</strong></p>

                <p class="mt-4">{{ product.description | safe }}</p>

                <!-- add links for category, card set and expansion -->
                {% if product.category %}
                <p class="mb-1 product_tag">
                    <a href="{% url 'products' %}?category={{product.category.name}}" class="feedback">
                        <i class="fa-solid fa-tag me-2 text-blue"></i>
                        <span class="text-gray">
                            {{ product.category.display_name }}
                        </span>
                    </a>
                </p>
                {% endif %}

                {% if product.card_set %}
                <p class="mb-1">
                    <a href=" {% url 'products' %}?card_set={{product.card_set.name}}" class="feedback">
                        <i class="fa-solid fa-layer-group me-2 text-blue"></i>
                        <span class="text-gray">
                            {{product.card_set.display_name }}
                        </span>
                    </a>
                </p>

                {% endif %}

                {% if product.expansion %}
                <p>
                    <a href=" {% url 'products' %}?expansion={{product.expansion.name}}" class="feedback">
                        <i class="fa-solid fa-dragon me-2 text-blue">
                        </i><span class="text-gray">
                            {{product.expansion.display_name}}
                        </span>
                    </a>
                </p>
                {% endif %}

                <div class="product-rating mb-3">
                    {% if product.rating %}
                    <small class="mb-3"><i class="fas fa-star me-1 fs-6 text-yellow"></i><span class="text-gray">
                            {{ product.rating }} / 5 </span></small>
                    {% else %}
                    <small>No Rating</small>
                    {% endif %}
                </div>
                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <p class="mt-3"><strong class="me-2">Quantity</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control" type="number" name="quantity" value="1" min="1"
                                        max="99">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <input type="submit" class="btn btn-custom-yellow w-75 mt-3 shadow" value="Add to basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <div class="mt-5 mb-3 text-blue feedback">
                    <a href="{% url 'products' %}">
                        <i class="fas fa-arrow-left me-1"></i>Back to products
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}