:root {
    /* Fonts */
    --heading-font: "Raleway", serif;
    --text-font: "Roboto", serif;

    /* Colours */
    --blue: #075997;
    --yellow: #fec901;
}

/********************* Utility Classes *******************/
/* Text colours */
.text-white {
    color: white;
}
/* Background colours */
.bg-blue {
    background-color: var(--blue);
}
/* Text formatting */

/************************** GLOBAL ************************/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 1.75rem;
}

/* Paragraphs */
p {
    font-family: var(--text-font);
    font-size: 1rem;
}

/* Anchors */
a {
    text-decoration: none;
    color: inherit;
}

/* borders */
.border-yellow {
    border: 0.15rem solid var(--yellow);
}

.btn-yellow {
    background: var(--yellow);
    color: black;
}

.border-black {
    border: 0.15rem solid black;
}

/*************************** BASE *************************/

/* Header */
header {
    background-color: var(--blue);
    color: white;
}

/* Logo */
.logo-link {
    font-style: italic;
}

.logo-link:hover {
    color: var(--yellow);
}
.logo-text {
    font-size: 2rem;
    font-weight: 500;
}

.logo-tag-line {
    font-size: 1.5rem;
}

/* Search bar */
.search-input {
    border: 0.15rem solid white;
}

.search-input:focus {
    border-color: var(--yellow);
}

.search-button:hover {
    filter: brightness(1.1);
}

/* Nav bar */
.nav-link {
    font-family: var(--text-font);
    color: white;
    border-radius: 1rem;
    background-color: transparent;
}

.nav-link:hover {
    color: var(--yellow);
}

.nav-link:focus {
    color: var(--yellow);
}

.dropdown-item:hover {
    background-color: var(--yellow);
}

/* Mobile top header */
.logo-margin-mobile {
    margin-right: 13rem !important;
}

.search-input-mobile {
    border-right-width: 0;
}

.search-input-mobile:focus {
    border-color: black;
}

.search-button-mobile {
    border-left-width: 0;
}

/*********************** MEDIA QUERIES *********************/
/* 575px sm */
@media screen and (max-width: 35.938em) {
    /* BASE */
    .mobile-logo {
        display: none;
    }
}
