:root {
    /* Fonts */
    --heading-font: "Raleway", serif;
    --heading-font-alt: "Carter One", serif;
    --text-font: "Roboto", serif;

    /* Colours */
    --off-white: #fafafa;
    --blue: #075997;
    --yellow: #fec901;
    --gray-light:#ebebeb;
    --red: #ed2415;
}

/********************* Utility Classes *******************/
/* Text colours */
.text-white {
    color: white;
}

.text-blue {
    color: var(--blue) !important;
}

.text-yellow {
    color: var(--yellow);
}

.text-gray {
    color: gray;
}

.text-gray-light {
    color: var(--gray-light);
}

.text-red {
    color: var(--red);
}

/* Background colours */
.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: white;
}

.bg-off-white {
    background-color: var(--off-white);
}

/* Text formatting */
.bold {
    font-weight: bold;
}

/************************** GLOBAL ************************/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 1.75rem;
}

/* Paragraphs */
p {
    font-family: var(--text-font);
    font-size: 1rem;
}

/* Anchors */
a {
    text-decoration: none;
    color: inherit;
}

/* borders */
.border-yellow {
    border: 0.15rem solid var(--yellow);
}

.btn-yellow {
    background: var(--yellow);
    color: black;
}

.border-blue {
    border: 0.15rem solid var(--blue);
}

.border-black {
    border: 0.15rem solid black;
}

.border-white {
    border: 0.15rem solid white;
}

/* Buttons */
.btn-custom-blue {
    background-color: var(--blue);
    color: white;
    font-family: var(--text-font);
    font-weight: 600;
    border: 0.15rem solid var(--blue);
}

.btn-custom-blue:hover {
    color: white;
    background-color: var(--blue);
    filter: brightness(1.1);
}

.btn-custom-yellow {
    background-color: var(--yellow);
    color: black;
    font-family: var(--text-font);
    font-weight: 600;
    border: 0.15rem solid var(--yellow);
}

.btn-custom-yellow:hover {
    color: black;
    background-color: var(--yellow);
    filter: brightness(1.1);
}

.btn-custom-red {
    background-color: var(--red);
    color: black;
    font-family: var(--text-font);
    font-weight: 600;
    border: 0.15rem solid var(--red);
}

.btn-custom-red:hover {
    color: black;
    background-color: var(--red);
    filter: brightness(1.1);
}

.selectable-feedback {
    transition: transform 0.4s ease;
}

.selectable-feedback:hover {
    transform: scale(1.01);
    filter: brightness(1.05);
}

.feedback:hover {
    filter: brightness(1.1);
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 5px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*************************** BASE *************************/

/* Header */
header {
    background-color: var(--blue);
    color: white;
}

/* Logo */
.logo-link:hover {
    color: var(--yellow);
}
.logo-text {
    font-size: 2rem;
    font-weight: 500;
}

.logo-tag-line {
    font-size: 1.5rem;
}

/* Search bar */
.search-input {
    border: 0.15rem solid white;
}

.search-input:focus {
    border-color: var(--yellow);
}

.search-button:hover {
    filter: brightness(1.1);
}

/* Nav bar */
.nav-link {
    font-family: var(--text-font);
    font-size: 1.1rem;
    color: white;
}

.nav-link:hover {
    color: var(--yellow);
}

.nav-link:focus {
    color: var(--yellow);
}

.custom-dropdown {
    border-bottom: 0.1rem solid var(--gray-light);
}

.custom-dropdown a {
    border-radius: 0.5rem;
    margin: 0.25rem 0 0.25rem 0 ;
}

.custom-dropdown a:hover {
    background-color: var(--yellow);
    border-radius: 0.5rem;
}

/* Mobile top header */
.logo-margin-mobile {
    margin-right: 13rem !important;
}

.search-input-mobile {
    border-right-width: 0;
}

.search-input-mobile:focus {
    border-color: black;
}

.search-button-mobile {
    border-left-width: 0;
}

.cart-icon {
    font-size: 1.25rem;
}

/* footer */
.footer-container {
    background-color: var(--blue);
    color: white;
}

.fb-icon {
    background: #0866ff;
}

.insta-icon {
    /* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */

    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}

.tiktok-icon {
    background: black;
}

.youtube-icon {
    background: white;
}

.x-icon {
    background: black;
}

.fb-icon:hover,
.insta-icon:hover,
.tiktok-icon:hover,
.youtube-icon:hover,
.x-icon:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.tiktok-icon:hover,
.x-icon:hover {
    background: black;
}

.fb-icon:hover {
    background: #0866ff;
}

.insta-icon:hover {
    color: white;
}

/*************************** HOME *************************/
/* Hero Section */
.hero-section {
    background: url("/media/hero-image-large.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    filter: brightness(1.1);
}

.hero-content {
    margin: 17rem 0 1rem 0;
}

.hero-content h1 {
    font-family: var(--heading-font-alt);
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--blue);
}

/************************* PRODUCTS ***********************/
.btt-button {
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: var(--blue);
}

.btt-link {
    cursor: pointer;
    color: var(--blue) !important;
}

/* Rating */

.rating .btn-group .btn i {
    color: lightgray;
}

/* Reverse the order of the star display */
/* Allows me to list the star inputs in reverse order and use ~  */
/* ~ targets elements after but mine are in reverse order in the html and displayed in reverse here */
.rating .btn-group {
    display: inline-flex;
    flex-direction: row-reverse;
}

/* Turn the star icons and all previous stars to yellow on hover */
/* Row reversed so targets previous even using ~ */
.rating .btn-group .btn:hover i,
.rating .btn-group input.btn-check:checked + label i,
.rating .btn-group .btn:hover ~ label i,
.rating .btn-group input.btn-check:checked ~ label i {
    color: var(--yellow)
}


/************************** BASKET ************************/
.sku {
    font-size: 0.75rem;
}

.custom-hr {
    width: 95%;
}

.summary-container-inner {
    background-color: var(--off-white);
    border-radius: 0.7rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.update-form {
    margin-bottom: 3rem;
}

/************************* ALLAUTH ************************/
.allauth-form-inner-content h2 strong {
    text-decoration: underline;
}

/*********************** PRODUCT FORM **********************/
/* From boutique ado walkthrough */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*********************** MEDIA QUERIES ********************/

/* 1400px xl */
@media screen and (max-width: 87.5em) {
    /* HOME */
    .hero-section {
        background: url("/media/hero-image-mid.png") no-repeat center center;
        background-size: cover;
        height: 100%;
        filter: brightness(1.1);
    }
}

/* 1105px lg */
@media screen and (max-width: 69.063em) {
    /* HOME */
    .hero-section {
        background: url("/media/hero-image-small.png") no-repeat center center;
        background-size: cover;
        height: 100%;
        filter: brightness(1.1);
    }
}

/* 992px lg*/
@media screen and (max-width: 62em) {
    /* BASKET */
    .summary-container {
        background-color: var(--off-white);
        border-radius: 0.7rem;
        border: 1px solid #dee2e6;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
    }
    .summary-container-inner {
        background-color: initial;
        border-radius: initial;
        border: initial;
        box-shadow: none;
    }
}

/* 575px sm */
@media screen and (max-width: 35.938em) {
    /* BASE */
    .mobile-logo {
        display: none;
    }
    .message-container {
        max-width: 18rem;
    }
    /* MOBILE NAV */
    .mobile-icon,
    .icon-text {
        font-size: 0.9rem;
    }
    /* HOME */
    .hero-content h1 {
        font-size: 1.9rem;
    }
    .feature-products {
        width: 95%;
    }

    /* BASKET */
    .shop-btn {
        width: 75%;
    }
    .summary-container {
        width: 98%;
    }
    .product-container {
        width: 98%;
    }
    .basket-container {
        max-width: 70%;
    }
    .product-btn, .checkout-btn {
        font-size: 0.75em;
    }
    .qty-form-basket {
        justify-content: center;
    }
    .hr-basket {
        display: none;
    }
    .p-nm-basket, .sku-basket, .price-basket {
        text-align: center;
    }
    .update-form {
        margin-bottom: 1em;
    }
    
}

/* 460px  */
@media screen and (max-width: 28.753em) {
    /* BASKET */
    .basket-container {
        max-width: 90%;
    }
}
