:root {
    /* Fonts */
    --heading-font: "Raleway", serif;
    --heading-font-alt: "Carter One", serif;
    --text-font: "Roboto", serif;

    /* Colours */
    --off-white: #fafafa;
    --blue: #075997;
    --yellow: #fec901;
}

/********************* Utility Classes *******************/
/* Text colours */
.text-white {
    color: white;
}

.text-blue {
    color: var(--blue) !important;
}

.text-yellow {
    color: var(--yellow);
}

.text-gray {
    color: gray;
}

/* Background colours */
.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: white;
}

.bg-off-white {
    background-color: var(--off-white);
}

/* Text formatting */
.bold {
    font-weight: bold;
}

/************************** GLOBAL ************************/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 1.75rem;
}

/* Paragraphs */
p {
    font-family: var(--text-font);
    font-size: 1rem;
}

/* Anchors */
a {
    text-decoration: none;
    color: inherit;
}

/* borders */
.border-yellow {
    border: 0.15rem solid var(--yellow);
}

.btn-yellow {
    background: var(--yellow);
    color: black;
}

.border-blue {
    border: 0.15rem solid var(--blue);
}

.border-black {
    border: 0.15rem solid black;
}

.border-white {
    border: 0.15rem solid white;
}

/* Buttons */
.btn-custom-blue {
    background-color: var(--blue);
    color: white;
    font-family: var(--text-font);
    font-weight: 600;
    border: 0.15rem solid var(--blue);
}

.btn-custom-blue:hover {
    color: white;
    background-color: var(--blue);
    filter: brightness(1.1);
}

/* Buttons */
.btn-custom-yellow {
    background-color: var(--yellow);
    color: black;
    font-family: var(--text-font);
    font-weight: 600;
    border: 0.15rem solid var(--yellow);
}

.btn-custom-yellow:hover {
    color: black;
    background-color: var(--yellow);
    filter: brightness(1.1);
}

.selectable-feedback {
    transition: transform 0.4s ease;
}

.selectable-feedback:hover {
    transform: scale(1.01);
    filter: brightness(1.05);
}

.feedback:hover {
    filter: brightness(1.1);
}

/*************************** BASE *************************/

/* Header */
header {
    background-color: var(--blue);
    color: white;
}

/* Logo */
.logo-link:hover {
    color: var(--yellow);
}
.logo-text {
    font-size: 2rem;
    font-weight: 500;
}

.logo-tag-line {
    font-size: 1.5rem;
}

/* Search bar */
.search-input {
    border: 0.15rem solid white;
}

.search-input:focus {
    border-color: var(--yellow);
}

.search-button:hover {
    filter: brightness(1.1);
}

/* Nav bar */
.nav-link {
    font-family: var(--text-font);
    font-size: 1.1rem;
    color: white;
}

.nav-link:hover {
    color: var(--yellow);
}

.nav-link:focus {
    color: var(--yellow);
}

.dropdown-item:hover {
    background-color: var(--yellow);
}

/* Mobile top header */
.logo-margin-mobile {
    margin-right: 13rem !important;
}

.search-input-mobile {
    border-right-width: 0;
}

.search-input-mobile:focus {
    border-color: black;
}

.search-button-mobile {
    border-left-width: 0;
}

.cart-icon {
    font-size: 1.25rem;
}

/*************************** HOME *************************/
/* Hero Section */
.hero-section {
    background: url("/media/hero-image-large.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    filter: brightness(1.1);
}

.hero-content {
    margin: 17rem 0 1rem 0;
}

.hero-content h1 {
    font-family: var(--heading-font-alt);
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--blue);
}

/************************* PRODUCTS ***********************/
.product-rating {
    text-align: right;
}

.btt-button {
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: var(--blue);
}

.btt-link {
    cursor: pointer;
    color: var(--blue) !important;
}

/************************** Basket ************************/
.sku {
    font-size: 0.75rem;
}

.custom-hr {
    width: 95%;
}

.summary-container-inner {
    background-color: var(--off-white);
    border-radius: 0.7rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*********************** MEDIA QUERIES ********************/

/* 1400px xl */
@media screen and (max-width: 87.5em) {
    /* HOME */
    .hero-section {
        background: url("/media/hero-image-mid.png") no-repeat center center;
        background-size: cover;
        height: 100%;
        filter: brightness(1.1);
    }
}

/* 1105px lg */
@media screen and (max-width: 69.063em) {
    /* HOME */
    .hero-section {
        background: url("/media/hero-image-small.png") no-repeat center center;
        background-size: cover;
        height: 100%;
        filter: brightness(1.1);
    }
}

/* 992px lg*/
@media screen and (max-width: 62em) {
    /* BASKET */
    .summary-container {
        background-color: var(--off-white);
        border-radius: 0.7rem;
        border: 1px solid #dee2e6;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
    }
    .summary-container-inner {
        background-color: initial;
        border-radius: initial;
        border: initial;
        box-shadow: none;
    }
}

/* 767px md */
@media screen and (max-width: 47.938em) {
}

/* 575px sm */
@media screen and (max-width: 35.938em) {
    /* BASE */
    .mobile-logo {
        display: none;
    }
    /* MOBILE NAV */
    .mobile-icon,
    .icon-text {
        font-size: 0.9rem;
    }
    /* HOME */
    .hero-content h1 {
        font-size: 1.9rem;
    }

    .feature-products {
        width: 95%;
    }
    /* BASKET */
    .shop-btn {
        width: 75%;
    }
    .summary-container {
        width: 98%;
    }
    .product-container {
        width: 98%;
    }
}
