{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}Checkout{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col mt-3 mb-3">
            <h2><strong>Profile</strong></h2>
            <hr class="w-75 mb-1 mx-auto">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg-7 rounded-4 shadow bg-white mb-3 profile-dropdown">
            <div class="text-center">
                <a data-bs-toggle="collapse" href="#account-info" role="button" aria-expanded="false"
                    aria-controls="account-info">
                    <h2 class="mt-3"><i class="fa-solid fa-user fa-lg me-2"></i>Account info</h2>
                    <p>Update your account information</p>
                </a>
            </div>
            <div class="collapse" id="account-info">
                <div>
                    <form method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ user_account_form|crispy }}
                        <button class="btn btn-warning my-3" type="submit" name="edit_acc_info">Save
                            Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg-7 rounded-4 shadow bg-white mb-3 profile-dropdown">
            <div class="text-center">
                <a data-bs-toggle="collapse" href="#profile-info" role="button" aria-expanded="false"
                    aria-controls="profile-info">
                    <h2 class="mt-3"><i class="fa-solid fa-truck-fast fa-lg me-2"></i>Shipping info</h2>
                    <p>Update your shipping information</p>
                </a>
            </div>
            <div class="collapse" id="profile-info">
                <div>
                    <form method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ user_profile_form|crispy }}
                        <button class="btn btn-warning my-3" type="submit" name="edit_info">Save
                            Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg-7 rounded-4 shadow bg-white mb-3 profile-dropdown">
            <div class="text-center">
                <a data-bs-toggle="collapse" href="#account-password" role="button" aria-expanded="false"
                    aria-controls="account-password">
                    <h2 class="mt-3"><i class="fa-solid fa-lock fa-lg me-2"></i>Password</h2>
                    <p>Change your account password</p>
                </a>
            </div>
            <div class="collapse" id="account-password">
                <div>
                    <form method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ user_password_form|crispy }}
                        <button class="btn btn-warning my-3" type="submit" name="edit_password">Save
                            Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg-7 rounded-4 shadow bg-white mb-3 profile-dropdown">
            <div class="text-center">
                <a data-bs-toggle="collapse" href="#order-history" role="button" aria-expanded="false"
                    aria-controls="order-history">
                    <h2 class="mt-3"><i class="fa-solid fa-folder-open fa-lg me-2"></i>Order history</h2>
                    <p>View your order history</p>
                </a>
            </div>
            <div class="collapse" id="order-history">
                {% if orders %}
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="text-blue" href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date}}</td>
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="text-center mb-3">
                        <p>You have not placed any orders yet, check out some of our products.</p>
                        <a href="{% url 'products' %}" class="btn btn-warning">Products</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg-7 rounded-4 shadow bg-white mb-3 profile-dropdown">
            <div class="text-center">
                <a data-bs-toggle="collapse" href="#wishlist" role="button" aria-expanded="false"
                    aria-controls="wishlist">
                    <h2 class="mt-3"><i class="fa-solid fa-heart fa-lg me-2"></i>Wishlist</h2>
                    <p>View your wishlist</p>
                </a>
            </div>
            <div class="collapse" id="wishlist">
                {% if wishlist_products %}
                    {% for product in wishlist_products %}
                        <div class="row mt-1 ms-sm-3 align-items-center">
                            <div class="col-6 col-sm-2 mb-1 offset-3 offset-sm-0 position-relative">
                                <!-- Sale badge -->
                                {% if product.on_sale %}
                                <div class="badge bg-red position-absolute small" style="top: -0.5rem; right: -0.5rem">
                                    On Sale
                                </div>
                                {% endif %}
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.image %}
                                    <img class="img-fluid rounded-4" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                    {% elif product.image_url %}
                                    <img class="img-fluid rounded-4" src="{{ product.image_url }}"
                                        alt="{{ product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded-4"
                                        src="{% static 'images/no-image-placeholder.webp' %}" alt=" {{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-9 col-sm-6">
                                <p class="my-0"><strong>{{ product.name }}</strong></p>
                            </div>
                            <div class="col-2 col-sm-3 text-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p class="my-0 small {% if product.on_sale %}text-red{% else %}text-muted{% endif %} me-1">
                                        €{{ product.price }}
                                    </p>
                                    <!-- remove from wishlist -->
                                    <form class="d-inline wishlist-form" action="{% url 'wishlist_remove' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="Bottom" title="Remove from wishlist">
                                            <i class="fas fa-heart fs-6 text-red"></i>
                                        </button> 
                                    </form>
                                </div>	
                            </div>
                        </div>
                        <hr class="w-75 text-muted mx-auto">
                    {% endfor %}
                {% else %}
                        <div class="text-center mb-3">
                            <p>Your wishlist is empty, check out some of our products.</p>
                            <a href="{% url 'products' %}" class="btn btn-warning">Products</a>
                        </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- JS to open collapse of form that just failed validation -->
{% block postloadjs %}
{{ block.super }}
<script>
    function openFailedCollapse(collapseId) {
        // Get the element with id that we want to open
        var collapseElement = document.getElementById(collapseId);
        // https://getbootstrap.com/docs/5.2/components/collapse/#methods
        // Activate the element as a collapse with toggle showing
        var bsCollapse = new bootstrap.Collapse(collapseElement, { toggle: true });
    }

    // Check if any form has failed and open its collapse
    {% if acc_form_failed %}
        openFailedCollapse('account-info');
    {% elif profile_form_failed %}
        openFailedCollapse('profile-info');
    {% elif password_form_failed %}
        openFailedCollapse('account-password');
    {% endif %}
</script>

<!-- bootstrap tooltip script -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}