<div class="collapse navbar-collapse mx-4" id="navbarNav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown me-5" href="#" id="all-products-dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <ul class=" dropdown-menu border-0" aria-label="all-products-dropdown">
                <li> <a href="" class="dropdown-item">By Price</a> </li>
                <li> <a href="" class="dropdown-item">By Rating</a> </li>
                <li> <a href="" class="dropdown-item">By Category</a> </li>
                <li> <a href="" class="dropdown-item">All Products</a> </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown me-5" href="#" id="pokemon-cards-dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Pokemon Cards
            </a>
            <ul class=" dropdown-menu border-0" aria-label="pokemon-cards-dropdown">
                <li> <a href="" class="dropdown-item">Booster Packs</a> </li>
                <li> <a href="" class="dropdown-item">Blister Packs</a> </li>
                <li> <a href="" class="dropdown-item">Booster Box</a> </li>
                <li> <a href="" class="dropdown-item">Booster Cases</a> </li>
                <li> <a href="" class="dropdown-item">Collection Box</a> </li>
                <li> <a href="" class="dropdown-item">Elite Trainer Boxes</a> </li>
                <li> <a href="" class="dropdown-item">Tins</a> </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown me-5" href="#" id="accessories-dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Accessories
            </a>
            <ul class=" dropdown-menu border-0" aria-label="accessories-dropdown">
                <li> <a href="" class="dropdown-item">Binders</a> </li>
                <li> <a href="" class="dropdown-item">Sleeves</a> </li>
                <li> <a href="" class="dropdown-item">Toploaders</a> </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown me-5" href="#" id="collectables-dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Toys &amp; Collectables
            </a>
            <ul class=" dropdown-menu border-0" aria-label="collectables-dropdown">
                <li> <a href="" class="dropdown-item">Figures</a> </li>
                <li> <a href="" class="dropdown-item">Pins</a> </li>
                <li> <a href="" class="dropdown-item">Plushes</a> </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#">
                Sale
            </a>
        </li>
    </ul>
</div>