{% load static %}
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card h-100 shadow">
        <div class="feedback">
            <!-- Sale badge -->
            {% if product.on_sale %}
                <div class="badge bg-red position-absolute fs-6" style="top: 1.5rem; right: 0.5rem">
                    On Sale
                </div>
            {% endif %}
            <!-- Image -->
            {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            {% elif product.image_url %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
            {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{% static 'images/no-image-placeholder.webp' %}"
                        alt=" {{ product.name }}">
                </a>
            {% endif %}
        </div>
        <div class="card-body py-0">
            <p class="mb-2"><strong>{{ product.name }}</strong></p>
        </div>
        <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row product-card-footer-top">
                <div class="col">
                    <p class="mb-3 fs-3 text-center text-blue">
                        <strong>
                            {% if product.on_sale %}
                                <del class="text-red fs-6">{{product.pre_sale_price}}</del>
                            {% endif %}
                            €{{ product.price }}
                        </strong>
                    </p>
                    <!-- add links for category, card set and expansion -->
                    {% if product.category %}
                        <p class="mb-1 product_tag">
                            <a href="{% url 'products' %}?category={{product.category.name}}" class="feedback">
                                <i class="fa-solid fa-tag me-2 text-blue"></i>
                                <span>
                                    {{ product.category.display_name }}
                                </span>
                            </a>
                        </p>
                    {% endif %}

                    {% if product.card_set %}
                        <p class="mb-1">
                            <a href=" {% url 'products' %}?card_set={{product.card_set.name}}" class="feedback">
                                <i class="fa-solid fa-layer-group me-2 text-blue"></i>
                                <span>
                                    {{product.card_set.display_name }}
                                </span>
                            </a>
                        </p>
                    {% endif %}

                    {% if product.expansion %}
                        <p>
                            <a href=" {% url 'products' %}?expansion={{product.expansion.name}}" class="feedback">
                                <i class="fa-solid fa-dragon me-2 text-blue">
                                </i><span>
                                    {{product.expansion.display_name}}
                                </span>
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Rating -->
                    <div class="text-end">
                        {% if product.get_avg_rating %}
                            <small><i class="fas fa-star me-1 fs-6 text-yellow"></i><span>
                                    {{ product.get_avg_rating }} / 5 </span></small>
                        {% else %}
                            <small>No Rating</small>
                        {% endif %}

                        <!-- Add to basket button -->
                        <form class="form add-product-form" action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 d-flex justify-content-center">
                                    <label for="{{ prefix }}-add-to-basket-{{ product.id }}" class="d-none">Add to
                                        basket</label>
                                    <input type="submit" class="btn btn-warning w-75 my-3 shadow add-btn"
                                        value="Add to basket" id="{{ prefix }}-add-to-basket-{{ product.id }}">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <input class="form-control" type="hidden" name="quantity" value="1">
                            </div>
                        </form>

                        <!-- Admin edit delete btns -->
                        {% if request.user.is_superuser %}
                            <div class="text-center mt-2">
                                <a class="btn btn-primary" href="{% url 'edit_product' product.id %}">Edit</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#{{ prefix }}-confirmDeleteModal-{{ product.id }}">Delete</button>
                            </div>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/confirm_delete_modal.html' %}