<!-- Logo  -->
<div class="text-center d-lg-none my-auto ms-3 mobile-logo">
    <a href="{% url 'home' %}" class="logo-link">
        <div class="text-center">
            <h1 class="logo-text mb-0 pb-0 fs-4"><strong>Pokemon TCG</strong></h1>
            <h2 class="logo-tag-line mt-0 pt-0 fs-4">Ireland</h2>
        </div>
    </a>
</div>
<ul class="list-inline d-block d-lg-none my-auto">
    <!-- Account icon -->
    <li class="list-inline-item dropdown">
        <a class="nav-link dropdown" href="#" id="my-acc-dropdown-mobile" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user mobile-icon"></i></div>
                <p class="my-0 icon-text">My Acc</p>
            </div>
        </a>
        <ul class="dropdown-menu rounded-4 px-2 py-2" aria-labelledby="my-acc-dropdown-mobile">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li class="custom-dropdown"><a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a></li>
            {% endif %}
            <li class="custom-dropdown"><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
            <li class="custom-dropdown"><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
            {% else %}
            <li class="custom-dropdown"><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
            <li class="custom-dropdown"><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
            {% endif %}
        </ul>
    </li>
    <!-- Basket icon -->
    <li class="list-inline-item ms-3">
        <a class="nav-link" href="{% url 'view_basket' %}">
            <div class="text-center">
                <i class="fas fa-cart-shopping cart-icon mobile-icon position-relative">
                    {% if product_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="font-size: 0.5rem">
                        {{ product_count }}
                    </span>
                    {% endif %}
                </i>
                <p class="my-0 icon-text">
                    {% if items_total %}
                    € {{items_total|floatformat:2}}
                    {% else %}
                    €0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
    <!-- Search bar icon -->
    <li class="list-inline-item mx-3">
        <a class="nav-link dropdown" href="#" id="search-icon" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-magnifying-glass mobile-icon"></i></div>
                <p class="my-0 icon-text">Search</p>
            </div>
        </a>

        <div class="dropdown-menu border-0 w-100 pe-3" aria-labelledby="search-icon">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control rounded-0 border-black search-input-mobile" type="text" name="q"
                        placeholder="Search our products">
                    <div class="input-group-append">
                        <button
                            class="form-control btn-yellow border-black rounded-0 search-button search-button-mobile"
                            type="submit">
                            <span class="icon">
                                <i class="fas fa-magnifying-glass"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </li>

</ul>