{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_title %}Basket{% endblock %}

{% block extra_css %}
<!-- Remove number input up/down arrows -->
<style>
    /* For modern browsers */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}

<h2 class="text-center mt-3"><strong>Your Basket</strong></h2>
<hr class="w-75 mb-5 mx-auto">

{% if basket_items %}

<div class="container mt-3 basket-container">
    <div class="row mt-3">
        <!-- Products -->
        <div class="col-12 col-lg-7 mx-auto product-container">
            {% for item in basket_items %}
            <div class="row mb-3 bg-white rounded-4 border shadow d-flex align-items-center">
                <div class="text-end fs-5">
                    <a href="{% url 'remove_from_basket' item.product.id %}" data-bs-toggle="tooltip" data-bs-placement="Bottom" title="Remove from basket">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <!-- product img -->
                <div class="col-12 col-sm-4 mb-4">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img class="img-fluid rounded-4" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                        {% elif item.product.image_url %}
                        <img class="img-fluid rounded-4" src="{{ item.product.image_url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="img-fluid rounded-4" src="{% static 'images/no-image-placeholder.webp' %}"
                            alt=" {{ product.name }}">
                        {% endif %}
                    </a>
                </div>
                <!-- Product details -->
                <div class="col-12 col-sm-8">
                    <p class="mb-0 p-nm-basket"><strong>{{ item.product.name }}</strong></p>
                    <p class="sku text-gray sku-basket">SKU: {{ item.product.sku|upper }}</p>
                    <hr class="text-blue mb-5 w-75 hr-basket">
                    <!-- Adjust Quantity -->
                    <!-- Edited from boutique_ado walkthrough -->
                    <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group d-flex qty-form-basket">
                            <div class="input-group w-75">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-custom-blue rounded-0 border-0"
                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                    id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-custom-yellow rounded-0 border-0"
                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="mb-0 me-2 mb-1 price-basket">€{{ item.product.price}}
                        <span class="ms-3">
                            <strong>
                                €{{ item.product.price | calc_subtotal:item.quantity}}
                            </strong>
                        </span>
                    </p>
                </div>

            </div>

            {%endfor%}
        </div>
        <!-- Purchase summary -->
        <div class="col-12 col-lg-4 mx-auto summary-container">
            <div class="px-3 summary-container-inner bg-white">
                <div class="row mt-3">
                    <div class="col-auto"><span>Subtotal:</span></div>
                    <div class="col text-end"><span>€{{ items_total|floatformat:2 }}</span></div>
                </div>
                <div class="row">
                    <div class="col-auto"><span>Shipping:</span></div>

                    {% if free_shipping_delta > 0 %}
                    <div class="col text-end"><span>€{{ shipping|floatformat:2 }}</span></div>
                    {% else %}
                    <div class="col text-end"><span>FREE</span></div>
                    {% endif %}

                    <hr class="text-blue mt-2 custom-hr mx-auto">

                </div>
                <div class="row">
                    <div class="col-auto fs-3"><span><strong>Total:</strong></span></div>
                    <div class="col text-end fs-3"><span><strong>€{{basket_total|floatformat:2}}</strong></span></div>
                    {% if free_shipping_delta > 0 %}

                    <small class="my-4 text-red text-center">
                        For free shipping spend just <strong>€{{ free_shipping_delta }}</strong> more!
                        <small />
                        {% endif %}
                </div>
                <!-- Buttons -->
                <div class="row mt-3 mb-4">
                    <div class="col-6 d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="btn btn-custom-blue w-100 product-btn">
                            <span>
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Products</span>
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-center ps-0">
                        <a href="{% url 'checkout' %}" class="btn btn-custom-yellow w-100 checkout-btn">
                            <span>Checkout</span>
                            <span>
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-8 text-center bg-white shadow border border-1 rounded-4 py-5 mb-3">
            <p class="fs-5 mb-4">Your basket is currently empty</p>
            <a href="{% url 'products' %}" class="btn btn-custom-yellow shop-btn shadow"> Continue Shopping
            </a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

<!-- From boutique_ado walkthrough -->
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed via default buttons
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        // cal the enable disable method on product every time we click
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
        // Submit the form
        $(this).closest('form').submit();
    });

    // Decrement quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
        // Submit the form
        $(this).closest('form').submit();
    });
</script>
<!-- bootstrap tooltip script -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>
{% endblock %}